@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #F8F1E9;  /* softer beige */
  --foreground: #2C2C2C;  /* keeping the same text color */
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #F8F1E9;  /* keeping same color for dark mode */
    --foreground: #2C2C2C;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-montserrat);
}

/* Global link hover styles */
a {
  transition-property: color;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

a:hover {
  color: white;
}
